node_modules
build
.DS_Store
website/templates/website/liveReloadConf.html
venv
*.pyc
*.zip
*.sqlite3*
*.rdb
*.mo
.coverage
deploy_settings.py
local_settings.py
static/
libs/
node_modules
.cache
coverage
media/

# Deploy settings

#deploy_settings.sh

deploy_settings_local.sh
*.log
yarn.lock

.pytest_cache
.vscode
